<!DOCTYPE html>
<html>
<head>
    <title>Projects | ASME BITS Pilani</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header class="navbar">
    <div class="nav-wrapper">
        <div class="nav-group left">
            <a href="/">HOME</a>
            <a href="/about">ABOUT US</a>
            <a href="/team">TEAM</a>
            <!-- <a href="/sponsors">SPONSORS</a> -->
        </div>

        <div class="nav-logo">
            <img src="/images/asme-logo.svg" alt="ASME Logo">
        </div>

        <div class="nav-group right">
            <a href="/sponsors">SPONSORS</a>
            <a href="/projects">PROJECTS</a>
            <a href="/contact">CONTACT</a>
        </div>
    </div>
</header>